@import"./variables";
@import'./nav';
@import'./menu';
@import"./video";
@import"./text-container";
@import"./photo-container";
@import"./dreams-container";
@import"./user-input";
@import"./footer";
body {
    box-sizing: border-box;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    #sakumlapa {
        position: relative;
        overflow-x: hidden;
        width: 320px;
        background: #FFFFFF;
    }
}

@media only screen and (min-width: 1366px) {
    #sakumlapa {
        position: relative;
        overflow-x: hidden;
        width: 1366px;
    }
}